@model ReadabilityCalculator.Models.Readability.ReadabilityResults_vm

@{
    ViewData["Title"] = "ReadabilityResults";
}

<h2>ReadabilityResults</h2>

<hr />
<!--I found this article useful for the pull-right part, but I didn't actually look at your article until afterwards:  https://www.formget.com/bootstrap-grid/ -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form asp-action="ReadabilityResults">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-md-12">
                        <label asp-for="InputText" class="control-label"></label>
                        <textarea asp-for="InputText" class="form-control" rows="5" cols="10"></textarea>
                        <span asp-validation-for="InputText" class="text-danger"></span>
                    </div>
                    <div class="col-md-2">
                        <label asp-for="NumberWords" class="control-label"></label>
                        <input asp-for="NumberWords" class="form-control" />
                        <span asp-validation-for="NumberWords" class="text-danger"></span>
                    </div>
                    <div class="col-md-2">
                        <label asp-for="NumberSentences" class="control-label"></label>
                        <input asp-for="NumberSentences" class="form-control" />
                        <span asp-validation-for="NumberSentences" class="text-danger"></span>
                    </div>
                    <div class="col-md-2">
                        <label asp-for="NumberSyllables" class="control-label"></label>
                        <input asp-for="NumberSyllables" class="form-control" />
                        <span asp-validation-for="NumberSyllables" class="text-danger"></span>
                    </div>
                    <div class="col-md-2 pull-right">
                        <label asp-for="ReadabilityScore" class="control-label"></label>
                        <input asp-for="ReadabilityScore" class="form-control" />
                        <span asp-validation-for="ReadabilityScore" class="text-danger"></span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
