@model ReadabilityCalculator.Models.Readability.ReadabilityResults_vm

@{
    ViewData["Title"] = "ReadabilityResults";
}

<h2>Results</h2>

@ViewData["IndexUsed"]

<hr />
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form asp-action="ReadabilityResults">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-md-12">
                        <label asp-for="InputText" class="control-label"></label>
                        <textarea asp-for="InputText" class="form-control" rows="5" cols="10"></textarea>
                        <span asp-validation-for="InputText" class="text-danger"></span>
                    </div>
                    <div class="col-md-2">
                        <label asp-for="NumberOfWords" class="control-label"></label>
                        <input asp-for="NumberOfWords" class="form-control" />
                        <span asp-validation-for="NumberOfWords" class="text-danger"></span>
                    </div>
                    <div class="col-md-2">
                        <label asp-for="NumberOfSentences" class="control-label"></label>
                        <input asp-for="NumberOfSentences" class="form-control" />
                        <span asp-validation-for="NumberOfSentences" class="text-danger"></span>
                    </div>
                    <div class="col-md-2">
                        <label asp-for="NumberOfSyllables" class="control-label"></label>
                        <input asp-for="NumberOfSyllables" class="form-control" />
                        <span asp-validation-for="NumberOfSyllables" class="text-danger"></span>
                    </div>
                    <div class="col-md-2">
                        <label asp-for="NumberOfCharacters" class="control-label"></label>
                        <input asp-for="NumberOfCharacters" class="form-control" />
                        <span asp-validation-for="NumberOfCharacters" class="text-danger"></span>
                    </div>
                    <div class="offset-2"></div>
                    <div class="col-md-2">
                        <label asp-for="ReadabilityScore" class="control-label"></label>
                        <input asp-for="ReadabilityScore" class="form-control" />
                        <span asp-validation-for="ReadabilityScore" class="text-danger"></span>
                    </div>
                </div>
            </form>
            <p></p>
            <div class="row">
                <div class="col-md-2">
                    @using (Html.BeginForm("Index", "Readability", FormMethod.Post))
                    {
                        <input type="submit" value="Return" class="btn btn-primary" name="btnSubmit" />
                    }
                </div>
            </div>

            <div id="Explain all the formulas">
                <p></p>
                <h3>How these formulas work</h3>
                <hr />
                <p>The Flesch Reading Ease formula considers the average sentence length and the average number of syllables per word.  The score given will be between 0-100, with 100 being the easiest,
                60-69 considered standard, and 0-29 considered very confusing.</p>
                <p>The Flesch-Kincaid Grade Level formula considers the average sentence length and the average number of syllables per word.  The score given will be the approximate grade level 
                required to understand the writing.</p>
                <p>The Automated Readability Index considers the number of characters per word and the number of words per sentence.  The score given will be the approximate grade level 
                required to understand the writing.</p>
                <p>The Coleman-Liau Index considers the average number of letters per 100 words and average number of sentences per 100 words.
                    The score given will be the approximate grade level required to understand the writing. </p>
                <p>Note: due to my lack of being able to perfectly parse all writing, these scores are merely estimates based on the best I could do.</p>
            </div>
        </div>  
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
