@model ReadabilityCalculator.Models.Readability.ReadabilityResults_vm

@{
    ViewData["Title"] = "ReadabilityResults";
}

<h2>ReadabilityResults</h2>

<h4>ReadabilityResults_vm</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ReadabilityResults">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="InputText" class="control-label"></label>
                <input asp-for="InputText" class="form-control" />
                <span asp-validation-for="InputText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Words" class="control-label"></label>
                <input asp-for="Words" class="form-control" />
                <span asp-validation-for="Words" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sentences" class="control-label"></label>
                <input asp-for="Sentences" class="form-control" />
                <span asp-validation-for="Sentences" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Syllables" class="control-label"></label>
                <input asp-for="Syllables" class="form-control" />
                <span asp-validation-for="Syllables" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Score" class="control-label"></label>
                <input asp-for="Score" class="form-control" />
                <span asp-validation-for="Score" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
