@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p style="text-align:left">Hello, user.  I started this project during my C# Programming 2 class at Columbus State, but I wanted to extend it to help me learn SOLID design principles
    and learn more about programming.  I've enjoyed learning more about programming and my own programming process, and I hope to continue learning through other projects!
    </p>

    <p style="text-align: left">If you come across any problems with the program, feel free to let me know at lancedbeachy@gmail.com</p>

    <p style="text-align: left">Interested in the code behind it?  You can find in at my Github <a href="https://github.com/lbeachy/ReadabilityCalculator">here</a>.</p>
</div>
